.banner {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 20px;

    @include sm {
        margin-top: 7px;
    }

    img {
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        border: 70px solid rgba(255, 255, 255, 0);
        top: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        z-index: 2;
    }

    &:hover {
        &::before {
            border: 0 solid rgba(255, 255, 255, 0.7);
        }

        img {
            transform: scale(1.05);
        }
    }

}

.banner-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;

    @include sm {
        gap: 0 7px;
    }
}

.banner-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;

    @include sm {
        gap: 0 7px;
    }
}

.banner-item {
    max-width: 100%;
}